#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calc {
    width: 500px;
    
    border: 3px solid black;
    box-shadow:5px 5px 5px black;
    background-color: aliceblue;
    box-sizing: border-box;

}
#display {
    box-sizing: border-box;  
   background-color: antiquewhite;
   display: flex;
   font-size: 100px;
   justify-content: flex-end;
   align-items: flex-end;

   
}
button {
     width: 80px;
    height: 70px;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.buttons-container{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-evenly;
}
.button.operator {
    background-color: green;
}

.button.operator:focus {
    background-color:  lightgreen;
}
.calculate:active {
    background-color: lightgreen;
}
.button.clear, .button.calculate {
    background-color: lightblue;
}
.button.clear:active{
background-color: teal;
}
.button {
    background-color: orange;
}
.button:active {
    background-color: coral;
}
#backspace {
    background-color: lightblue;
}
#backspace:active {
    background-color: teal;
}